<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>
    <a id="chinesenovelslink" href="javascript:;" class="sidebar-nav-item" data-toggle="collapse" data-target="#chinesenovelslist" class="collapsed">
        Chinese Novels
    </a>  
    <ul class="collapse" class="sidebar-nav-item" id="chinesenovelslist">
        <li class="sidebar-nav-item"><a href="/a-warm-wedding-and-a-new-bride-of-young-master-lu">A Warm Wedding and A New Bride of Young Master Lu</a></li>
        <li class="sidebar-nav-item"><a href="/dragon-emperor-martial-god">Dragon Emperor, Martial God</a></li>
        <li class="sidebar-nav-item"><a href="/the-legend-of-the-extraordinaries">the legend of the extraordinaries</a></li>
    </ul>
    <a class="sidebar-nav-item" href="/about">About</a>
    <a class="sidebar-nav-item" href="/contact-us">Contact us</a>
    <a class="sidebar-nav-item" href="/suggestions">Suggestions</a> 
  </nav>
  
  <div class="sidebar-item">
      <input type="checkbox" id="themechanger" onclick="changetheme()"/>Light Theme
  </div>
  
  <script type="text/javascript">
    function changetheme(){
      if($('#themechanger').prop("checked") == true){
        setlighttheme('true');
        setCookie('true');
      } else if($('#themechanger').prop("checked") == false){
        setlighttheme('false');
        setCookie('false');
      }
    }
    
    function setlighttheme(value){
      if(value=='true'){
        $("body").removeClass("dark-theme");
      } else if(value=='false') {
        $("body").addClass("dark-theme");
      }
    }
    
    function setCookie(cvalue) {
      var d = new Date();
      d.setTime(d.getTime() + (30*24*60*60*1000));
      var expires = "expires="+ d.toUTCString();
      document.cookie = "novellalighttheme=" + cvalue + ";" + expires + ";path=/";
      console.log(document.cookie);
    }
    
    function getCookie() {
      var name = "novellalighttheme=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    
    $(document).ready(function(){
      if(getCookie()!=""){
        setlighttheme(getCookie());
        $('#themechanger').prop('checked', true);
        console.log(document.cookie);
      } else {
        $('#themechanger').prop('checked', false);
        console.log("nothing");
      }
    });
  </script>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
