---
layout: default
---
<div class="adbanner">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- header -->
    <ins class="adsbygoogle"
         style="display:inline-block;min-width:400px;max-width:970px;width:100%;height:90px"
         data-ad-client="ca-pub-5308237299920427"
         data-ad-slot="6183698394" ></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date: '%B %d, %Y' }}</span>
  {{ content }}
</div>
<div class="adbanner4">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- buttom 3 -->
    <ins class="adsbygoogle"
         style="display:block; height:90px"
         data-ad-client="ca-pub-5308237299920427"
         data-ad-slot="8439160794"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<hr>
<style>         
          .adbanner1 {
            height: 90px;
            width: 100%;
          }
          table.featuretable {
              border-collapse: separate;
              border-spacing: 0;
              border: 1px solid #dddddd;
              border-radius: 10px;
              -moz-border-radius: 10px;
              padding: 0px;
          }
          .featuretable td{
            text-align: center;
            border: none;
            width: 50%;
          }
          .featuretable td:first-child{
            border-right: 1px solid #dddddd;
          }
          
          .dark-theme .featuretable {
            background: #333; 
          }

          #loadDisqusBtn{
            width: 100%;
            height: 50px;
            border: 1px solid #dddddd;
            border-radius: 8px;
            -moz-border-radius: 8px;
            text-align: center;
            background-color: buttonface;
            color: buttontext;
          }
          
          .dark-theme #loadDisqusBtn{
            background: #484848;
            color: #dddddd;
          }
          
  </style>
  <table class="featuretable">
    <tr>
      <td>
        <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=novellatranslation/eMQl', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
          <p>Enter your email address:</p>
          <p><input type="text" style="width:140px" name="email"/></p>
          <input type="hidden" value="novellatranslation/eMQl" name="uri"/>
          <input type="hidden" name="loc" value="en_US"/>
          <input type="submit" value="Subscribe" />
          <p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p>
        </form>
      </td>
      <td>
        {% for cat in page.categories %}
          {% if cat == "Dragon Emperor, Martial God"%}
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="DEGSKTNKMM6NE">
                <p> Donate to <b>"Dragon Emperor, Martial God"</b> </p>
                <input type="image" src="/public/donate.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
              </form>
            {% assign flag = 1 %}
            {% break %}
          {% elsif cat == "A Warm Wedding and A New Bride of Young Master Lu" %}
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="DXC44X9QUP2XW">
                <p> Donate to <b>"A Warm Wedding and A New Bride of Young Master Lu"</b> </p>
                <input type="image" src="/public/donate.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
              </form>
            {% assign flag = 1 %}
            {% break %}
          {% endif %}
        {% endfor %}
        {% if flag != 1 %}
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="EVZ9HBHXCBNKE">
              <p> Donate to <b>NovellaTranslation</b> </p>
              <input type="image" src="/public/donate.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        {% endif %}
      </td>
    </tr>
  </table>
<hr>
<button id="loadDisqusBtn" style="cursor:pointer">Show Comments</button>
<div id="disqus_thread"></div>
<br><br><br>
<script>
  $(document).ready(function() {
    $('#loadDisqusBtn').on('click', function(){
      var disqus_shortname = 'novellatranslation-com-2';
		  $.ajax({
	         type: "GET",
	         url: "http://" + disqus_shortname + ".disqus.com/embed.js",
	         dataType: "script",
	         cache: true
	    });
	    $(this).fadeOut();
	});
});

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
/*(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//novellatranslation-com-2.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();*/
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
